<%- include('./partials/header') %>
<%- include('./partials/banner') %>


  <div id="error">
    <h2>Erreur 404</h2>
    <p>Il semble ne plus y avoir de café par ici !</p>
  </div>
  <img class="error-image" src="/images/404-coffee.png" alt="Un gobelet de café renversé, il est écrit 404 dans la flaque de café.">
        
<%- include('./partials/footer') %>