
<%- include('./partials/header') %>

<!-- Script emailJs -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init({
              publicKey: "tvzR-3ZTCtS0KM7Xx",
            });
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact_form').addEventListener('submit', function(event) {
                event.preventDefault();
                // these IDs from the previous steps
                emailjs.sendForm('service_v1b41ia', 'template_e1akjsv', this)
                    .then(() => {
                        console.log('SUCCESS!');
                        window.location.reload();
                    }, (error) => {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
    <script defer src="js/map.js"></script>

<%- include('./partials/banner') %>

<div class="toast-alert" id="toast">En tant que visiteur, vous n'êtes pas autorisé à mener cette action !</div>

<h2 class="color-title">Contact</h2>

<div class="toast-success" id="toast-success">En tant que visiteur, vous n'êtes pas autorisé à mener cette action !</div>

<form id="contact_form"  class="form-display" action="" method="POST">
    <div class="field">
        <input type="hidden" name="contact_number" value="697483">
        <label class="label" name="from_name" for="firstname">Prénom</label>
        <div class="control">
            <input class="input" type="text" name="name" id="firstname" placeholder="Prénom" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="lastname">Nom</label>
        <div class="control">
            <input class="input" type="text" name="lastname" id="lastname" placeholder="Nom" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
            <input class="input" type="email" id="email" name="to_email" placeholder="Email" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="message">Votre message</label>
        <div class="control">
            <textarea id="message" name="message" placeholder="Votre méssage..." rows="5" cols="33" required></textarea>
        </div>
    </div>
    <div class="field">
        <button class="contact-field anchor-color" type="submit" value="Send">Envoyer</button>
    </div>

</form>

<div class="contact">
    <p>Téléphone: +000 06 22 37 43 10</p>
    <p>Email : pepper-brothers@gmail.com</p>
    <p>Adresse : 12 Place du café 62890 Tournehem-sur-la-hem</p>
</div>

<div id="map"></div>

<%- include('./partials/footer')%>