html {
    font-size: 16px;
    background-color: #F7DCBC;
}

main {
    padding: 0;
    background-color: #3E1E04;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    text-align: center;
}

button, select {
    background-color: #CF640C;
    color: #F7DCBC;
    border: 2px solid #3E1E04;
    border-radius: 10px;
}

.select-all {
    border: 1px solid #F7DCBC;
}

#coffe-select {
    background-image: url("../images/down.png");
    border: 1px solid #F7DCBC;
}

.brown p, .brown h1, .brown a, .brown h3 {
    color: #3E1E04;
}

                                             /** BANNER */

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo h2 {
    margin-top: 0.5rem;
}

#logo-image {
    width: 4rem;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #CF640C;
    padding: 0 2rem;
}

#banner h2, #banner a {
    color: #3E1E04;
}

#banner a {
    text-decoration: none;
}

                                              /** BURGER MENU */

#main-nav {
    display: flex;
    align-items: center;
}
  
#burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 1rem;
}
  
#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
#main-nav li {
    margin-left: 1rem;
}

                                               /** MAIN */
                                              /** DESCRIPTION SECTION */
#description-container {
    background-color: #F7DCBC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#description-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

#description-picture {
    margin: 2rem;
}

                                                 /** NEW ITEMS SECTION */

#new-items-container {
    background-color: #3E1E04;
    padding-bottom: 4rem;
    margin-bottom: 0;
}

#new-items-container h2 {
    padding: 2rem 0 1rem 0;
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #F7DCBC;
}

.items-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #F7DCBC;
    margin: 1rem;
}

.items-box p {
    color: #3E1E04;
}

                                                      /** FOOTER */
footer {
    background-color: #F7DCBC;
    text-align: center;
}

footer p {
    color: #3E1E04;
}

                                                      /** CATALOGUE PAGE DESKTOP DISPLAY*/

#illustration h1{
    position: relative;
    width: 100%;
    background-color: #3E1E04;
    font-size: 4rem;
    color: #F7DCBC;
}

#discover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E1E04;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.category, .select-all {
    margin: 1rem 0;
}

                                                            /** MOBILE DISPLAY */

@media (max-width: 768px) {

                                                            /** BURGER MENU MOBILE */
    #main-nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #f0f0f0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    #main-nav li {
        margin: 1rem 0;
        text-align: center;
    }
  
    #main-nav a {
        display: block;
        padding: 10px;
        color: #F7DCBC;
        text-decoration: none;
    }
  
    #main-nav a:hover {
        background-color: #F7DCBC;
        color: #3E1E04;
    }
  
    #main-nav ul.active {
        display: flex;
        background-color: #3E1E04;
        width: 20rem;
        z-index: 1;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        }
                                                /** DESCRIPTION CONTAINER */
    #description-container {
        display: flex;
        flex-direction: colum;
        align-items: center;
        justify-content: center;
        /* background-image: url('../images/mike-kenneally-zlwDJoKTuA8-unsplash.jpg'); */  /* TODO incorporer l'image en background en laissant le text visible
        /* background-size: cover; */
    }

    #description-picture {
        display: none;
    }

                                                /** NEW ITEMS SECTION */  

    #new-items-container h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .items-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .items-box {
        margin: 1rem;
    }

    .items-box img {
        height: 30vh;
        width: 90%;
        margin-bottom: 1rem;
    }

                                                  /** CATALOGUE PAGE MOBILE DISPLAY*/


    .dicover-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}