</head>
<body>

  <!-- BANNER -->
  <header id="banner" class="brown">
    <a id="logo-anchor" href="/">
      <div id="logo">
        <img id="logo-image" src="/images/logo.svg" alt="Grains de café, Logo o'coffee" >
        <h2>O'coffee</h2>
      </div>
    </a>
    <nav id="main-nav">
      <div id="burger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/catalog">Catalogue</a></li>
        <li><a href="/boutique">Boutique</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>