</main>

<!-- FOOTER -->
<footer>
  <p>Conditions d'utilisation</p>
  <p><a href="/">© 2025 - O'coffee. Tous droits réservés</a></p>
  <p>Politique de confidentialité</p>
</footer>
<script src="/js/burger.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/select.js"></script>
<script src="js/map.js"></script>
</body>
</html>