<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Découvrez une large sélection de produits de qualité, un large choix de café provenant du monde entier. Venez découvrir notre catalogue.">
  <link rel="icon" type="image/x-icon" href="/images/logo.ico" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>O'cofee</title>
</head>
<body>

  <!-- BANNER -->
  <header id="banner" class="brown">
    <a id="logo-anchor" href="/">
      <div id="logo">
        <img id="logo-image" src="/images/logo.svg" alt="Grains de café, Logo o'coffee" >
        <h2>O'coffee</h2>
      </div>
    </a>
    <nav id="main-nav">
      <div id="burger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/catalog">Catalogue</a></li>
        <li><a href="/boutique">Boutique</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>