html {
    font-size: 16px;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #CF640C;
    padding: 0 2rem;
}

#banner h2, #banner a {
    color: #3E1E04;
}
