<%- include('./partials/header') %>
<%- include('./partials/banner') %>


  <div id="error">
    <h2>Erreur 500</h2>
    <p>Une erreur s'est produite. Veuillez réessayer plus tard.</p>
  </div>
        
<%- include('./partials/footer') %>