<%- include('./partials/header') %>
<%- include('./partials/banner') %>

<div class="height-body">

    <h2 class="color-title" >Inscription</h2>
    <div class="admin-button">
        <button><a href="/admin/add">Ajouter un article</a></button></a>
        <button><a href="/admin/remove">Suprimer un article</a></button></a>
    </div>

</div>


<%- include('./partials/footer') %>