<%- include('./partials/header') %>

<form id="form-field" action="" method="POST">
    <div class="field">
        <label class="label" for="firstname">Firstname</label>
        <div class="control">
            <input class="input" type="text" id="firstname" placeholder="Prénom" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="lastname">Lastname</label>
        <div class="control">
            <input class="input" type="text" id="lastname" placeholder="Nom" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
            <input class="input" type="email" id="lastname" name="email" placeholder="Email" value="hello@" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="message">Votre message</label>
        <div class="control">
            <textarea id="message" name="message" placeholder="Votre méssage..." rows="5" cols="33" required></textarea>
        </div>
    </div>
    <div class="field">
        <button class="anchor-color" type="submit">Envoyer</button>
    </div>

</form>

<%- include('./partials/footer') %>