<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../docs/demande-client/00.assets/logo.ico" />
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>O'cofee</title>
</head>
<body>

  <!-- BANNER -->
  <header id="banner" class="brown">
    <a href="index.html">
      <div id="logo">
      <img id="logo-image" src="../docs/demande-client/00.assets/logo.svg" alt="Grains de café, Logo o'coffee" >
      <h2>O'coffee</h2>
      </div>
    </a>
    <nav id="main-nav">
        <div id="burger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
        <ul>
        <li><a href="../viewsindex.html">Accueil</a></li>
        <li><a href="../views/catalogue.html">Catalogue</a></li>
        <li><a href="../views/produit.html">Boutique</a></li>
        </ul>
      </nav>
      </header>
    <main>
      <div id="error">
        <h2>ERREUR 404</h2>
        <p>Pas de caffé par ici</p>
      </div>
      <div style="padding-top:114.063%;position:relative;">
        <iframe src="https://gifer.com/embed/1I1D" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen>
        </iframe></div>
        <p>
          <a href="https://gifer.com">via GIFER</a>
        </p>

    </main>

      <!-- FOOTER -->
    <footer>
      <p>O'coffee</p>
    </footer>
    <script src="../public/js/burger.js"></script>
</body>
</html>