<%- include('./partials/header') %>

  <!-- MAIN -->
  <!-- DESCRIPTION CONTAINER -->

  <div id="description-container" class="brown">
    <section id="description-side" class="index">
      <h1>O'coffee</h1>
      <p>
        Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique.
        Avec une expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le café est célébré comme une expérience raffinée et inspirante.
      </p>
      <button class="select-all"><a href="/catalogue">Voir le catalogue</a></button>
    </section>
    <section id="description-picture">
      <img src="/images/mike-kenneally-zlwDJoKTuA8-unsplash.jpg" alt="Tasse de café avec un coeur dans la mousse et des grains de café sur la table" >
    </section>
  </div>

  <!-- NEW ITEMS SETION -->
  <section class="new-items-container">
    <h2>Nouveautés</h2>
    <section class="items-container brown">
      <section class="items-box">
        <h3>Expresso</h3>
        <img src="/images/coffees/100955890.png" alt="Grains de café d'Italie">
        <p>Description : Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
        <p>Origine : Italie</p>
        <p>Prix au kilo : 20.99 €</p>
        <p>Caractéristique principale : Corsé</p>
        <button>Découvrir</button>
      </section>
      <section class="items-box">
        <h3>Columbian</h3>
        <img src="/images/coffees/100955894.png" alt="Grains de café Colombien">
        <p>Description : Café moyennement corsé avec une acidité vive et une saveur riche.</p>
        <p>Origine : Colombie</p>
        <p>Prix au kilo : 18.75 €</p>
        <p>Caractéristique principale : Acide</p>
        <button>Découvrir</button>
        </section>
      <section class="items-box">
        <h3>Ethiopian</h3>
        <img src="/images/coffees/105589090.png">
        <p>Description : Réputé pour son arôme floral, son acidité vive et ses notes de saveur citronnée.</p>
        <p>Origine : Éthiopie</p>
        <p>Prix au kilo : 22.50 €</p>
        <p>Caractéristique principale : Fruité</p>
        <button>Découvrir</button>
        </section>
    </section>
  </section>
</html>

<%- include('./partials/footer') %>