<%- include('./partials/header') %>

<!-- PRODUCT SHEET -->

  <section id="product-picture">
    <img src="images/coffees/100955890.png">
  </section>
  <section id="product-detail">
    <h3>Expresso</h3>
    <p>Description : Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
    <p>Origine : Italie</p>
    <p>Prix au kilo : 20.99 €</p>
    <p>Caractéristique principale : Corsé</p>
    <button>Découvrir</button>
  </section>

<%- include('./partials/footer') %>